*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;


}

*::selection{
  background: orange;
}

/*-------------------------------------------- PRINCIPAL -----------------------------------------------------*/

.headline {
	z-index: 1;
	line-height: 0.8;
	transform: translate(0%, -230%);
	left: 2.5%;
	position: absolute;
	font-weight: normal;
	text-align: center;
	font-size: 8.5vw;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
    text-shadow: 2px 2px 7px black;
	color: rgba(250,250,250,0.8);
	font-family: Futura, "futura-pt", Arial, sans-serif;
}


.hero{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: -1;
}

.hero img{
	width: 100%;
	height: 100%;
	object-fit: cover;

}



section{
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}



.big-rose{
    position: absolute;
    right: 1.5%;
    top: -1.5%;
    z-index: 10;
}

.medium-rose{

    position: absolute;
    left: 0%;
    top: 5%;
    z-index: 0;
}

.up-rose{
	position: absolute;
	top: 0%;
	right: 0;
}


.small-rose{
    position: absolute;
    left: 0%;

    transform: translate(0%,0%);
    z-index: 0;
}

/*------------------------------- TOOL TIPS -------------------*/

.tooltip-up{
	position: absolute;
	right: 2.5%;
	margin-top: -5%;
}

.tooltip-up ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.tooltip-info{
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.03rem;
}

.tooltip-up ul li{
	position: relative;
	list-style: none;
	width: 50px;
	text-align: center;
	height: 20px;
	margin: 0 20px;
	transition: 0.5s;
	cursor: pointer;
	font-size: 13px;
}

.tooltip-up ul li:hover{
	background: orange;
	box-shadow: 0 0 0 4px #333,
		    	    0 0 0 6px orange;

}

.tooltip-up ul li .tooltip{
	position: absolute;
	bottom: 55px;
	width: 200px;
	/*width: 400px;*/
	/*height: 120px;*/
	height: 200px;
	background: white;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	transform: translateX(-50%) translateY(-50px);

}

.tooltip-up ul li .tooltip:before{
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background: white;
	bottom: -15px;
	/*left: 194px;*/
	left: 100px;
	transform: rotate(45deg);
}

.tooltip-up ul li .tooltip h2{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.tooltip-up ul li:hover .tooltip{
	visibility: visible;
	opacity: 1;
	transform: translateX(-50%) translateY(0px);
}

/*------------------------------------------ MENU -------------------------------------------------------------*/

.header{
      position: absolute;
      height: 20px;
      width: 100%;
      background: transparent;
      padding: 0 20px;
      color: #fff;
      right: 30%;
      transition: top 0.8s;
      z-index: 99;
}


.menubar{

      text-align: center;
      line-height: 100px;

}

.menubar a{
      font-size: 13px;
      right: 50%;
      height: 80px;
      letter-spacing: 0.1rem;
      text-align: center;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0 13px;
}

.menubar a:hover,
.menu a:hover{
      transition: ease 0.5s;
      
	background: orange;
	box-shadow: 0 0 0 4px #333,
			    0 0 0 6px orange;
}

.hamburger
{
  position: fixed;
  right:  3%;
  top: 2%;
  z-index: 100;
  font-size: 30px;
  color: white;
  cursor: pointer;
  float: right;
  line-height: 100px;
  text-align: center;
  
  line-height: normal;
  transition: 0.1s;

      
}

.hamburger:hover{
      color: orange;
}


.hide-menu-btn{
      position: absolute;
      font-size: 30px;
      color: white;
      cursor: pointer;
      margin: 15%;
    
      display: block;
      z-index: 100;
      top: -5%;

      right:  -1%;
      transition: all ease 0.5s;
}

.hide-menu-btn:hover{
      color: orange;
}

.menu{
  position: fixed;
  width: 25%;
  height: 100vh;
  background: #333;
  right:  -100%;
  top: 0%;
  z-index: 100;
  float: right;
  line-height: 100px;
  text-align: center;
  padding: 80px 0;
  line-height: normal;
  transition: 0.7s;

}

.menu a{
  font-size: 14.5px;
  letter-spacing: 0.1rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  display: block;
  transition: 0.4s;
  padding: 20px;
}

.showmenu{
  right: 0;
}

/*-------------------------------------------- CONTENIDO -----------------------------------------------------*/

.content{
    min-height: 500vh;/*
    background: linear-gradient(120deg,#07237e,#3b73e4,#3b47e4);*/
    background: linear-gradient(120deg,#2d314e,#1f2135,#1b1f3d);
    position: relative;
    overflow: hidden;
}

.intro{

  color: white;/*
  background: red;*/
  position: relative;
  width: 1200px;
  height: 1000px;
  left: -2%;
  top: -1000px;
}

.intro h1{
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  font-weight: normal;
  letter-spacing: .2rem;
}

.intro p{
  font-size: 18px;
  margin-left: 20px;
  letter-spacing: .014rem;
  word-spacing: 2pt;
  line-height: 22pt;
}

.caja-image1{
  z-index: 9;
  width: 50%;
  height: 50%;
  left: 0%;
  top: 5%;
  color: black;
  transition: all ease 0.5s;
  position: relative;
  background: #333;
  box-shadow: 3px 4px 12px 1px black;
}

.caja-image1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
--------------------------------- INFO DE IMAGENES -----------------------------------------------------------------*/
mark{
  background: orange;
}
.info-box{

  color: black;
  transition: all ease 0.3s;
  position: relative;
}

.info-box .info-tip .info-tool p{
  font-size: 14px;
  letter-spacing: 0rem;
  word-spacing:1pt;
  line-height: 12pt;
}

.info-box .info-tip{
  bottom: 55px;
  width: 500px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0;
  transform: translateX(-5%) translateY(-80px);
  visibility: hidden;
  transition: 0.5s;
  text-align: center;
  background: white;
  position: absolute;
}


.info-box .info-tip .info-tool:before{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: white;
  bottom: -15px;
  /*left: 194px;*/
  left: 30px;
  transform: rotate(45deg);
}



.info-circle:hover .info-tip{
  background: white;
  box-shadow: 0px 1px 20px 0.2px black;
}

.info-circle:hover .info-tip{
  visibility: visible;
  opacity: 1;
  transform: translateX(-5%) translateY(-12px);
}

.showtip{
  display: block;
}

.info-circle{
  position: absolute;
  color: orange;
  top: -5%;
  left: -1%;
  background: white;
  border-radius: 40px;
  cursor: pointer;
}

.info-circle .fa-info-circle{
  font-size: 40px;
}


/*--------------------------------- -------------PROTOZOARIOS------------ -----------------------------------*/



.protozoa-parallax{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}


.protozoarios{
    height: 300vh;
    background: linear-gradient(120deg,#3D7F0F,#30CD17,#22A90D);
    position: relative;
    overflow: hidden;
}

.intro2{

  color: white;/*
  background: red;*/
  position: relative;
  width: 1200px;
  height: 1000px;
  left: -2%;
  top: -22%;
}


.intro2 h1{
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  font-weight: normal;
  letter-spacing: .2rem;
}

#intro-p2{
  font-size: 18px;
  letter-spacing: .014rem;
  word-spacing: 2pt;
  line-height: 22pt;
  margin-bottom: 50px;
}

.graham{
  width: 650px;
  height: 300px; 
  background: #141517;
  left: 45%;
  top: -330px;
  position: relative;
}

.graham p{
  padding-left: 70px;
  padding-top: 30px;
  padding-right: 30px;
}



.numero{
  position: relative;
  top: 152px;
  font-size: 35px;
  color: #e6e7ee;
}

.parasito1{
  position: absolute;
  left: -205px;
  top: -50px;
  width: 40%;
}

.numero2{
  position: relative;
  top: 100px;
  font-size: 35px;
  color: #e6e7ee;
}

.banner-azul{
  width: 1100px;
  position: relative;
  left: 7%;
  height: 200px;
  padding-top: 40px;
  text-align: center;
  box-shadow: 2px 2px 10px black;
  background: #141517;
  margin-bottom: 80px;
}
.subtitulo{
  text-transform: uppercase;
  font-size: 20px;
}

.p-down-image2{
  position: relative;
  left: 3%;
  margin-top: 62px;
  text-transform: uppercase;
}

.mark-titles{
  background: purple;
  color: white;
}



/*
letter-spacing: 2pt;       para separar entgre letras 
word-spacing: 5pt;         para separacion entre palabras   
line-height: 20pt;         para la separacion entre lineas  
text-indent: 30pt;         para sangrias  */


.sticky {
  background: white !important;
}

