:root{
    --body: #13023b;
    --blue: #202154;
    --list: #44338E;
    --text: #adabca;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--body);
    font-size: 16px;
}

img{
    width: 100%;
    height: 100%;
}

h1, button{
    color: white;
}

button{
    font-family: 'Poppins', sans-serif;
    outline: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--blue);
    letter-spacing: 1.5px;
    font-size: 11px;
    border: 1px solid white;
}

.btn-white{
    background-color: white;
    color: var(--blue);
    border: none;
}

li{
    color: var(--list);
    list-style-type: none;
    font-size: 14px;
}

p, .li-active{
    color: var(--text);
}


/* -------------- MENU --------------------------- */

.menu{
    width: 90vw;
    height: 80px;
    margin-left: 5%;
    margin-right: 5%;
    
    display: flex;
    align-items: center;
}

.logo h1{
    font-size: 18px;
    letter-spacing: 1px;
}

.logo{
    width: 50%;
    padding: 20px;
}

ul{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

/* ----------------------- HEADER ------------------------------------ */

header{
    width: 90vw;
    height: 90vh;
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    align-items: center;
}

.header-text, .header-img{
    width: 50%;
}

.header-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text p{
    margin: 10px 0px 30px 0px;
}

.header-title{
    font-size: 50px;
}

.header-text button{
    margin-right: 30px;
}

.header-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 50%;
    height: 90%;
}

.img{
    width: 500px;
}